*{
    margin: 0;
    padding: 15px;
    text-align: justify;
    font-family: Avenir, Helvetica, sans-serif;
    background-color: #fff0de;
}

h1 {
    text-align: center;
    font-size: 40px;
}

/**/
.container {
    height: 370px;
    padding: 20px;
    margin: auto 100px;
}

.rules {
    width: 30vw;
    height: 300px;
    border: 1px solid #000;
    float: left;
}

.answer {
    width: 30vw;
    height: 300px;
    border: 1px solid #000;
    float: right;
}

/* bouton */

.btn {
    border-radius: 100%;
    border: 2px solid black;
    padding: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    font-size: 0.5rem;
}

.btn:focus {
    border: 3px solid red;
}

img {
    height: 50px;
}