<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    text-align: justify;
}
.textCenter{
    margin-left: 38%;
    font-size: 40px;
}
.rules{
    width: 45vw;
    height: 80vh;
    border: 1px solid #000;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}
.answer{
    width: 45vw;
    height: 80vh;
    border: 1px solid #000;
    float: right;
    margin-left: 3%;
=======
#btnGiveCommand {
    border-radius: 100%;
    border: 2px solid black;
    padding: 10px;
}

img {
    height: 50px;
>>>>>>> a22a1c9c4a1ffa3e42e94b3bba0dcb525c7b5970
}